.clients {
  padding: 0 calc(50% - 584px);
  height: 80px;
  background-color: #F5F5F9;
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 28px;
  width: 100%;
}

.item {
  font-size: 17px;
  line-height: 22px;
  font-weight: 600px;
  color: #48494D;
  margin-right: 64px;
}

.item:hover {
  color: #D12136;
}

.item:last-child {
  margin: 0;
}

@media(max-width: 1180px) {
  .clients {
    padding: 0 10px;
  }
}